*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{

    background-color: rgb(5, 6, 18);
    color: white;
}

.navbar{

    /* background-color: rgb(0, 1, 1); */
    background-color: transparent;
 
    height: 100px;
    /* box-shadow:  lightblue; */
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar:hover{

    border-radius: 40px;
    box-shadow: 1px 0px 200px 2px rgb(117, 112, 112);
    transition: all ease 1s;
  width: 80%;
  margin: 20px 150px; 
    border: 2px solid white;

}

.navLogo{
    /* background-color: aqua; */
   margin-left: 20px;
    width: 20%;
    font-size: 30px;
    font-weight: bold;
}

.navBtn{

    /* background-color: blue; */
    width: 30%;
    margin-right: 50px;
}

.navLinks{

    /* background-color: rgb(89, 208, 14); */
    width: 20%;
    margin-right: 60px;
}

.navBtn, ul, li,a{

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0px 10px;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
   
    
}

.menuCard{

    /* background-color: aqua; */
    height: 600px;
    width: 89%;
    margin: 70px 50px;
    text-align: center;
    padding: 20px 0px;
    color: white;
    border: 3px solid white;
    color: white;

}

.menuHeading{

    font-size: 50px;
    color:  yellow;
    /* background-color: white; */
}


